{% extends "layout.html" %}

{% block toplinks %}
<a id="home" href="/">Home</a>
<a id="about" href="/about">About</a>
<a id="donate" href="/donate">Donate</a>
<a id="merch" href="/merch" class="selected">Merch</a>
{% endblock %}

{% block content %}

<h1>Buy Nest Merch</h1>
<h2>Coming Soon!</h2>

<br>

<center>
  <img src="{{ url_for('static', filename='merch.jpg') }}" width="300vw">
</center>

<br>

<p>Soon, this page will allow you to purchase Nest t-shirts online and have them shipped straight to your door! Until all that is ready, you can purchase the shirts at any of our shows.</p>

{% endblock %}
